# Onenex FTS API
FTS_API_BASE_URL=
FTS_API_PORT=

# Onenex FTS TCP server
FTS_TCP_HOSTNAME=

# CORS allowed origins (comma-separated)
ALLOWED_ORIGINS=

# Memory limit for auto-restart (MB)
MEMORY_LIMIT_MB=
