# FTS source api url and port
FTS_API_BASE_URL=
FTS_API_PORT=

# Telemetry tcp server hostname
FTS_TCP_HOSTNAME=

# Cors (e.g 'http://localhost:5173,http://localhost:5174')
ALLOWED_ORIGINS=

# For server auto restart on memory limit hit
MEMORY_LIMIT_MB=200
